<!DOCTYPE html>
<html>
<head>
    <title>湖南科技大学成绩查询</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="https://js.cdnbee.com/libs/element-ui/1.1.6/theme-default/index.css">
</head>
<body>
    <div id="app">
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" style="width: 300px; left: 50%; top: 50%; position: absolute; margin-left: -150px; transform: translateY(-100%)"
            v-if="first">
            <el-form-item prop="username">
                <el-input v-model="ruleForm.username" autofocus>
                    <template slot="prepend">学号</template>
                </el-input>
            </el-form-item>
            <el-form-item prop="password">
                <el-input v-model="ruleForm.password" type="password" auto-complete="off">
                    <template slot="prepend">密码</template>
                </el-input>
            </el-form-item>
            <el-form-item style="text-align: center">
                <el-button type="primary" @click="submitForm('ruleForm')" v-loading.fullscreen="loading" element-loading-text="拼命加载中" style="width: 200px">查 询</el-button>
            </el-form-item>
        </el-form>
        <el-table :data="item" :row-class-name="tableRowClassName"  border
        v-for="item in tableData.data" v-else>
            <el-table-column :label="item[0].time" align="center">
                <el-table-column prop="course" label="课程" align="center" min-width="5">
                </el-table-column>
                <el-table-column prop="credit" label="学分" align="center" min-width="2">
                </el-table-column>
                <el-table-column prop="score" label="分数" align="center" min-width="2">
                </el-table-column>
            </el-table-column>
        </el-table>
    </div>
</body>
<script src="https://js.cdnbee.com/libs/vue/2.1.10/vue.min.js"></script>
<script src="https://js.cdnbee.com/libs/element-ui/1.1.6/index.js"></script>
<script src="https://js.cdnbee.com/libs/axios/0.15.3/axios.min.js"></script>
<script>
    new Vue({
    el:'#app',
    data:{first:!0,loading:!1,tableData:null,ruleForm:{username:'',password:''},
        rules:{username:[{required:!0,message:'请输入学号',trigger:'blur'},
            {len:10,message:'学号长度为10',trigger:'blur'}],
            password:[{required:!0,message:'请输入密码',trigger:'blur'}]}},
    methods:{
        tableRowClassName:function tableRowClassName(a){return 60>a.score||'\u4E0D\u53CA\u683C'===a.score?'el-tag--danger':''},
        submitForm:function submitForm(a){
            var b=this;
            this.$refs[a].validate(function(c){
             return void function () {
            var d = b, e = new FormData;
            e.append('username', b.ruleForm.username), e.append('password', b.ruleForm.password), b.loading = !0, axios.post('/text/', e).then(function (f) {
                console.log(f)
                1 === f.data.code && (d.tableData = f.data, d.first = !1), d.loading = !1, d.$message({
                    showClose: !0,
                    message: f.data.msg,
                    type: 1 === f.data.code ? 'success' : 'error'
                })
            }).catch(function (f) {
                d.loading = !1, console.log(f), d.$message({
                    showClose: !0,
                    message: '网络错误',
                    type: 'error'
                })
            })
        }() && !!c
})}}});</script>
</html>